@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
body {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.red {
  border: 10px solid #e30413;
}
.blue {
  border: 10px solid #039fe3;
}
.green {
  border: 10px solid #3ea535;
}
.yellow {
  border: 10px solid #ffee00;
}
.pink {
  border: 10px solid #f8c5af;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header {
  height: 100px;
  background-color: black;
  color: white;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
main {
  min-height: calc(100vh - 100px - 63px);
  margin: 50px 0;
}
.job {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px;
}
section {
  display: flex;
  flex-wrap: wrap;
  gap: calc(124px / 2);
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
footer {
  background-color: #dddddd;
  font-size: 18px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
